<footer class="w-full bg-gray-100 py-6 pl-20 mt-14 border-t border-gray-300">
  <div class="max-w-6xl mx-auto px-10">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 text-gray-600 ">
          <div class="pl-5">
              <h2 class="text-xl font-semibold text-rose-500 mb-10">About</h2>
              <ul class="mt-2 space-y-2">
                  <li><a href="#" class="hover:underline">How EasyLiv works</a></li>
                  <li><a href="#" class="hover:underline">Newsroom</a></li>
                  <li><a href="#" class="hover:underline">Investors</a></li>
              </ul>
          </div>
          <div  class="pl-5">
              <h2 class="text-xl font-semibold text-rose-500 mb-10">Support</h2>
              <ul class="mt-2 space-y-2">
                  <li><a href="#" class="hover:underline">Help Center</a></li>
                  <li><a href="#" class="hover:underline">Safety Information</a></li>
                  <li><a href="#" class="hover:underline">Cancellation options</a></li>
              </ul>
          </div>
          <div  class="pl-5">
              <h2 class="text-xl font-semibold text-rose-500 mb-10">Community</h2>
              <ul class="mt-2 space-y-2">
                  <li><a href="#" class="hover:underline">EasyLiv.org: disaster relief</a></li>
                  <li><a href="#" class="hover:underline">Against Discrimination</a></li>
                  <li><a href="#" class="hover:underline">Gift cards</a></li>
              </ul>
          </div>
      </div>
      <div class="mt-20 mb-5 text-center text-gray-500 text-sm">
          © 2025 Your Company, Inc. All rights reserved.
      </div>
  </div>
</footer>
