  <%layout("/layouts/boilerplate.ejs")%>
  <!-- <iframe src="https://maps.app.goo.gl/Ry2USGUQfJCDbeaa9" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->

 <section class="bg-gradient-to-r  text-black py-32 px-8">
  <div class="max-w-screen-xl mx-auto text-center">
    
    <h1 class="text-4xl sm:text-5xl lg:text-5xl font-medium  mb-4 " style='font-family:"Montserrat", sans-serif ;' >
       Experience Home
    </h1>
    <h1 class="text-4xl sm:text-5xl lg:text-5xl font-medium  mb-4 " style='font-family:"Montserrat", sans-serif ;'>Away From Home</h1>

    
    <p class="text-lg sm:text-xl mb-20">
      Find your escape, stay with us
    </p>

  
    <a href="/listings" class="px-9 py-2 border-2 border-rose-400  font-semibold rounded-lg  text-rose-400 text-lg hover:bg-rose-200  transition duration-300">
      Explore
    </a>
  </div>
</section>
<div class="w-1/2 border-t-2 border-rose-400 my-6 text-center rounded-full ml-80 justify-center"></div>

<!-- main-secondpage -->
<section>
  <div class="text-center">
    <h2 class="text-5xl font-semibold mb-10 mt-10">Why book from EasyLiv?</h2>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-6 mt-20 mb-20 ml-20 mr-10 pl-10
    ">
        <div class="p-4 border-2 border-transparent bg-rose-200 hover:border-rose-500 rounded-lg transition duration-300">
            <div class="w-16 h-16 bg-white flex items-center justify-center rounded-full shadow-lg mt-4 ml-20 mb-10 text-2xl"> 👍</div>
            <h3 class="font-semibold text-2xl ">Hassle Free Booking</h3>
            <p class="text-gray-600 mt-3 mb-5">Book your hotel from our website without any hassle.</p>
        </div>
        <div class="p-4 border-2 border-transparent   bg-rose-200  hover:border-rose-500 rounded-lg transition duration-300">
            <div class="w-16 h-16 bg-white flex items-center justify-center rounded-full shadow-lg mt-4 ml-20 mb-10  text-2xl">⭐</div>
            <h3 class="font-semibold  text-2xl">28K Reviews</h3>
            <p class="text-gray-600 mt-3 mb-5">Book your hotel from our website without any hassle.</p>
        </div>
        <div class="p-4 border-2 border-transparent  bg-rose-200 hover:border-rose-500 rounded-lg transition duration-300">
            <div class="w-16 h-16 bg-white flex items-center justify-center rounded-full shadow-lg mt-4 ml-20 mb-10 text-2xl">📅</div>
            <h3 class="font-semibold text-2xl">Free Cancellation</h3>
            <p class="text-gray-600 mt-3 mb-5">Book your hotel from our website without any hassle.</p>
        </div>
        <div class="p-4 border-2 border-transparent   bg-rose-200 hover:border-rose-500 rounded-lg transition duration-300">
            <div class="w-16 h-16 bg-white flex items-center justify-center rounded-full shadow-lg mt-4 ml-20 mb-10 text-2xl">🎧</div>
            <h3 class="font-semibold  text-2xl">24/7 Support</h3>
            <p class="text-gray-600 mt-3 mb-5">Book your hotel from our website without any hassle.</p>
        </div>
    </div>
</section>



</body>
