<%layout("/layouts/boilerplate.ejs")%>
<body>
 
  <h1 class=" pl-20  text-3xl font-semibold my-10 text-rose-600">Response send .Host will contact you shortly</h1>
  <h3 class=" pl-20  text-xl font-semibold my-10 text-rose-800">Thank You</h3>
  <div class="mb-20 pb-20"></div>
  </body>