<%layout("/layouts/boilerplate.ejs")%>
<body >
  <div class="text-center bg-white rounded-lg shadow-lg  p-100 m-500 ">
    <h1 class="text-6xl font-bold text-red-500">404</h1>
    <p class="text-xl text-gray-700 mt-4">Oops! The page you're looking for doesn't exist.</p>
    <h4><%=message%></h4>
    
</div>
</body>
